<!DOCTYPE html>
<html class="gt-ie8 gt-ie9 not-ie">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
`get descriptionAndKeywords 
`t backEndCSSLinkTag
`get moreCSSLink 
`get headLink
<title>`get title`</title>
</head>

<body class="theme-default main-menu-animated">
	<script>
		var init = [];
	</script>
	<div id="main-wrapper">
		`t japidviews.BackController.leftMenu
		
		<div id="content-wrapper">
			`doLayout
			<div id="main-menu-bg"></div>
		</div>
	</div>
	
	`t backEndJSLinkTag

	`get moreJSLink
</body>

`get bottomLink
</html>
